body{
	background:black;
	font-weight: bold;
	font-size: 15px;
	font-family: Courier new;
	color: #00c0ff;
	font-family: Courier New;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
a{
color:lightyellow;
}

h2{margin:15px 0 0 0;padding:15px 5px;background:midnightblue url("gradient-bg.svg");background-image:-webkit-gradient(linear,left top, left bottom,from(#18142b),to(midnightblue));background-image:-webkit-linear-gradient(top,#18142b,midnightblue);background-image:-moz-linear-gradient(top,#18142b,midnightblue);background-image:-o-linear-gradient(top,#18142b,midnightblue);background-image:linear-gradient(top,#18142b,midnightblue);}
